@charset "utf-8";
*				{ margin: 0; padding: 0; outline: none; color:#FF0;	background:#000; font:30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

.highlight {
	color:#FF0;
	background:grey;		

}

.unlight {
	text-decoration: none;
	color:#FF0;
	background:#000;		
}

.buttons {
	color:#000;
	background: gray;
}

.input {
    -webkit-appearance: none;
    height: 50px;
	width: 100px;
    background-color:#FFF;
    color:#666;
    font-weight:bold;
    border: solid #666 1px;
    font-size: 40px;
}
