@charset "utf-8";
/* CSS Document */
/* Body Styles  */
* 								{ margin: 0;/*Sticky Footer*/ padding: 0;/*Sticky Footer*/ outline: none; }
body > #wrap 					{ height: auto;/*Sticky Footer*/ min-height: 100%;/*Sticky Footer*/ width: 100%; min-width: 160px; position: relative; overflow: auto; 

}
html, #wrap 					{ height: 100%; width: 100%; /*Sticky Footer*/ min-width: 160px; 
	font:30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:2.5em;
	color:#FF0;
	background:#000;		

}

#main							{ overflow: auto; min-width: 160px; min-height: 160px; padding: 0 0 25px 0; position: relative; width: 160px; margin: auto; text-align: center; z-index: 0; /*Sticky Footer*/ }	

	
.highlight {
	color:#FF0;
	background:grey;		

}

.unlight {
	text-decoration: none;
	color:#FF0;
	background:#000;		
}

.buttons {
	font:30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#000;
}

.input {
    -webkit-appearance: none;
    height: 50px;
	width: 100px;
    background-color:#FFF;
    color:#666;
    font-weight:bold;
    border: solid #666 1px;
    font-size: 40px;
}
