@charset "utf-8";

*				{ margin: 0; padding: 0; outline: none; color:#FF0;	background:#000; font:30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
body > #wrap 	{ height: auto; min-height: 100%; width: 100%; min-width: 320px; position: relative; overflow: auto; }
html, #wrap 	{ height: 100%; width: 100%; min-width: 320px;}
#main			{ overflow: auto; min-width: 320px; min-height: 320px; position: relative; width: 320px; height: 320px; margin: auto; text-align: center; z-index: 0; }	
	
.highlight {
	color:#FF0;
	background:grey;		

}

.unlight {
	text-decoration: none;
	color:#FF0;
	background:#000;		
}

.buttons {
	font:30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#000;
}

.input {
    -webkit-appearance: none;
    height: 50px;
	width: 100px;
    background-color:#FFF;
    color:#666;
    font-weight:bold;
    border: solid #666 1px;
    font-size: 40px;
}
