<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.apevibro.APE"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>APE Pile Calculator</name>

    <description>
        American Piledriving Equipment pile calculator
    </description>
 
    <author href="http://www.apevibro.com" email="joshg@apevibro.com">
        Josh Greisen
    </author>
    <icon src="images/icon.png" />
    <preference name="orientation" value="portrait" /> 
    <preference name="EnableViewportScale" value="true" />

</widget>


